<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>authDB</filter-name>
        <filter-class>com.vvp.web.authDB</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authDB</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>TableController</servlet-name>
        <servlet-class>com.vvp.web.TableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.vvp.web.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>com.vvp.web.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>com.vvp.web.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>com.vvp.web.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Visitor</servlet-name>
        <servlet-class>com.vvp.web.Visitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginForEcommerce</servlet-name>
        <servlet-class>com.vvp.web.LoginForEcommerce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>com.vvp.web.DeleteProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TableController</servlet-name>
        <url-pattern>/tablecontroller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/viewcart.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/addtocart.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Visitor</servlet-name>
        <url-pattern>/visitor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginForEcommerce</servlet-name>
        <url-pattern>/elogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
	    30
	</session-timeout>
    </session-config>
</web-app>
